# Игнорировать виртуальное окружение
.venv/
env/
venv/
myenv/

# Игнорировать pycache и прочее
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache

# Игнорировать файлы настроек IDE
.vscode/
.idea/

# Игнорировать файлы логов
*.log

# Игнорировать файлы базы данных (если есть)
*.sqlite3

# Игнорировать временные файлы
*.swp
